body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#navbar {
}

#navbar a {
    padding: 10px;
}

/* Recipe */
#wrapper {
    display: grid;
    justify-content: center;
}

#recipe {
    border: solid 1px #e1e8f0;
    border-radius: 8px;
    width: 400px;
    padding: 40px;
}

#recipe h2 {
    color: #0f1729;
    margin-bottom: 2px;
}

#recipe h4 {
    color: #0f1729;
    margin-bottom: 4px;
}

#wrapper #footer {
    color: #65768c;
    margin: 10px;
    text-align: right;
}

#meal-type {
    display: inline-block;
    padding: 0px 6px;
    font-size: 0.8em;
    border: solid 1px #e1e8f0;
    border-radius: 0.8em;
}

#meal-type p {
    padding: 0px;
    margin: 0px;
}
/**/

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}
